* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#e66465, #9198e5);
}

.game {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: auto;
  background: linear-gradient(#9198e5, #e66465);
  border-radius: 20px;
}

.winner {
  font-style: italic;
  font-weight: bold;
}

.btn-container {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid black;
}

.playBtn {
  padding: 10px 20px;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 20px;
  background: inherit;
}

.game-content-container {
  width: 100%;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid black;
}

.gameOver {
  display: none;
  pointer-events: none;
}

.resetBtn {
  display: none;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 0.9em;
  font-weight: 600;
  pointer-events: none;
  background: inherit;
}

.resetActive {
  display: block;
  pointer-events: all;
}

.button:hover {
  background: rgb(183, 218, 246);
}

.button:active {
  background: rgb(235, 243, 249);
}

.no-border {
  border: none;
}
