* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
}

body {
  width: 500px;
  height: auto;
  margin: 50px auto;
  border: 1px solid black;
  display: flex;
  border-radius: 20px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: antiquewhite;
}

.playBtn {
  padding: 10px 20px;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 25px;
  border-radius: 20px;
}

.gameOver {
  display: none;
  pointer-events: none;
}

.resetBtn {
  padding: 5px 15px;
  margin-bottom: 10px;
  border-radius: 20px;
  font-size: 0.8em;
  font-weight: 500;
}
